<div class="space-y-6">
  <div class="text-right">
    <button
      (click)="generateBatch()"
      class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 transition"
    >
      Simulate 5 Bids
    </button>
  </div>

  <app-bid-list
    *ngIf="batchResults.length"
    [results]="batchResults"
    (compareSelected)="compare.emit($event)"
  ></app-bid-list>

  <app-comparison-view
    *ngIf="showComparisonView"
    [left]="selectedForComparison[0]"
    [right]="selectedForComparison[1]"
    [visible]="true"
    (close)="closeComparison.emit()"
  ></app-comparison-view>
</div>
